<div class="row">

  <div class="col-md-6 grid">

    <img src="/assets/Gallery/Apark1.jpg" class="img-fluid">
    <img src="/assets/Gallery/Apark2.jpg" class="img-fluid">
    <img src="/assets/Gallery/Apark3.jpg" class="img-fluid">
  </div>
  <div class="col-md-6 grid">
    <img src="/assets/Gallery/Apark4.jpg" class="img-fluid">
    <img src="/assets/Gallery/Apark5.jpg" class="img-fluid">
    <img src="/assets/Gallery/Apark6.jpg" class="img-fluid">

  </div>
</div>




<!--img src ="/assets/Apark2.jpg"
img src ="/assets/Apark3.jpg"
img src ="/assets/Apark4.jpg"
img src ="/assets/Apark5.jpg"
img src ="/assets/Apark6.jpg"
<div class="row" style="margin-top:10px;margin-bottom: 10px;">

<div class="row"> 
    </div>    
       
<div class="container">
  <p>gallery works!</p>
</div>-->