<div class="hero-image">
  <div class="hero-text">
    <p class="display-2" style="font-weight: 500">Gallery</p>
  </div>
</div>

<div class="container mt-5">
  <div class="row mb-3">
    <div class="col-md-6">
      <img src="/assets/gallery/Apark1.jpg" class="img img-fluid rounded" />
    </div>
    <div class="col-md-6">
      <img src="/assets/gallery/Apark2.jpg" class="img img-fluid rounded" />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <img src="/assets/gallery/Apark3.jpg" class="img img-fluid rounded" />
    </div>
    <div class="col-md-6">
      <img src="/assets/gallery/Apark4.jpg" class="img img-fluid rounded" />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <img src="/assets/gallery/Apark5.jpg" class="img img-fluid rounded" />
    </div>
    <div class="col-md-6">
      <img src="/assets/gallery/Apark6.jpg" class="img img-fluid rounded" />
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <img src="/assets/gallery/Apark7.jpg" class="img img-fluid rounded" />
    </div>
    <div class="col-md-6">
      <img src="/assets/gallery/Apark8.jpg" class="img img-fluid rounded" />
    </div>
  </div>
</div>
