<mat-toolbar class="mat-elevation-z8" color="primary">
  <button mat-button [routerLink]="['/']">
    <mat-icon>attractions</mat-icon>
    Amusement Park
  </button>
  <button mat-button [routerLink]="['/activities']">Activities</button>
  <button mat-button [routerLink]="['/gallery']">Gallery</button>
  <button mat-button [routerLink]="['/about-us']">About Us</button>
  <button mat-button [routerLink]="['/contact-us']">Contact Us</button>
  <span class="example-spacer"></span>
  <button mat-button [routerLink]="['/login']">
    <mat-icon>login</mat-icon>
    Login/ Signup
  </button>
</mat-toolbar>

<router-outlet> </router-outlet>

<footer class="bg-theme text-lg-start text-white">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Amusement Park</h5>
        <p>
          The loudest, craziest, and the most amazing part of town. This simply
          is not just an amusement park in City, but a world of breath-taking
          charm. It’s a place to celebrate the smaller moments and share big
          wonders.
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="/activities" class="text-light">Activities</a>
          </li>
          <li>
            <a href="/gallery" class="text-light">Gallery</a>
          </li>
          <li>
            <a href="/about-us" class="text-light">About Us</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="/contact-us" class="text-light">Contact Us</a>
          </li>
          <li>
            <a href="/login" class="text-light">Login</a>
          </li>
          <li>
            <a href="/register" class="text-light">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright
    <a class="text-light" href="#">Amusement Park Application</a>
  </div>
</footer>
