<section>
  <div
    id="carousel-example-2"
    class="carousel slide carousel-fade"
    data-ride="carousel"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carousel-example-2"
        data-slide-to="0"
        class="active"
      ></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img
            class="d-block w-100"
            src="assets/Carousel/Carousel-1.jpg"
            alt="First slide"
          />
          <a href="#!">
            <div class="mask rgba-black-light"></div>
          </a>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">For a perfect weekend</h3>
          <p>Spend the best time with family and friends</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img
            class="d-block w-100"
            src="assets/Carousel/Carousel-2.jpg"
            alt="Second slide"
          />
          <a href="#!">
            <div class="mask rgba-black-light"></div>
          </a>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Enjoy the thrill</h3>
          <p>For some fun and exclusive rides</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="view">
          <img
            class="d-block w-100"
            src="assets/Carousel/Carousel-3.jpg"
            alt="Third slide"
          />
          <a href="#!">
            <div class="mask rgba-black-light"></div>
          </a>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">For all ages</h3>
          <p>We welcome everyone, there is no barrier for fun</p>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carousel-example-2"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carousel-example-2"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<div class="jumbotron jumbotron-fluid text-center">
  <h1 class="display-4 text-dark">Welcome to Amusement Park</h1>
  <p class="lead text-secondary">
    We're thrilled and looking forward to having you back at park.
  </p>
</div>

<div class="parallax mb-5"></div>

<div class="container mb-5">
  <div class="row">
    <div class="col-md-6">
      <h2>The Rides of Change</h2>
      <hr />
      <p>
        There’s no better place to experience something new together than this
        amusement park in Hyderabad. Make sure you check out our most thrilling
        attractions, our water rides and land rides.
      </p>
      <p>
        Keep a keen eye out for timings of various other fun programs across the
        park – be it the next wave at the Wave Pool, or the next dance at the
        Rain Disco, or the next show at the Adventures of Chikku. Your visit
        should be a non-stop fun ride.
      </p>
    </div>
    <div class="col-md-6">
      <img
        class="img img-fluid rounded"
        src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_63,w_1200,h_675,r_0,c_crop,q_80,fl_progressive/w_825,f_auto,c_fit/hyderabad-park/WBD4-12.3.16-6635_vvyvpe"
      />
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-md-6">
      <img
        class="img img-fluid rounded"
        src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_78,w_1500,h_844,r_0,c_crop,q_80,fl_progressive/w_825,f_auto,c_fit/bengaluru-park/Wonderla_Amazement_Park_and_Resort_Bengaluru_Kochi_and_Hyderabad_24_hotdki_1_ustafb"
      />
    </div>
    <div class="col-md-6">
      <h2>The Unmissables</h2>
      <hr />
      <p>
        We're sure you'll love all our rides, but there are some that HAVE to
        experience. Make sure that experience thrill at it's peak with these
        rides.
      </p>
      <p>
        RECOIL - Experience a new dimension of thrill, defy gravity at 80 kmph.
      </p>
      <p>EQUINOX - Going back and forth doesn’t get any better.</p>
    </div>
  </div>
 <hr>
  <div class="jumbotron jumbotron-fluid text-center border bg-light" style="font-family:cursive">
    <h4 class=" text-dark" >"Your body is not a temple, it's an amusement park. Enjoy the ride.”</h4>
    <p class="lead text-secondary text-right">
      ― Anthony Bourdain
    </p>
    
  </div>
</div>
