<div class="container">
  <div id="box">
    <h1>Location and Contact</h1>
    <h2>Address</h2>
    <div class="row">

      <div class="col-xl-6 ">

        <h3>Corporate Office:</h3>
        <div class="details">
          EsselWorld Leisure Pvt. Ltd.,<br />14th Floor,<br />Times Tower Building, <br />Kamala City, Senapati Bapat
          Marg, <br />Lower Parel,
          Mumbai - 400013.<br /> Maharashtra, India.
          <p>
            <button mat-flat-button >
              <mat-icon inline=true>phone</mat-icon>
              +91 999 999 99999
            </button>
          </p>
        </div>
        <h3>Park Office:</h3>
        <div class="details">
          Borivali (West), Mumbai – 400 091. <br />Maharashtra, India.
          <p>
            <button mat-flat-button >
              <mat-icon inline=true>phone</mat-icon>
              +91 999 999 99999
            </button>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 ">
          <div>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60278.43164473635!2d72.80389440000002!3d19.221305167258695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xc4daa22087d4f46e!2sEsselWorld!5e0!3m2!1sen!2sin!4v1421389534095"
              width="100%" height="290" frameborder="0" style="border: 0"></iframe>
          </div>
          <div class="details">
            <h3>Customer Service Contact:</h3>
            <p>
              
              <button mat-flat-button>
                <mat-icon inline=true>phone</mat-icon>
                +91 999 999 99999
              </button>
            </p>
            <div style="height: 10px;"></div>
            <h3>Feedback:</h3>
            <p >
              <button mat-flat-button >
                <mat-icon inline=true>email</mat-icon>
                <a
                href="mailto:customercare@esselworld.com">customercare@example.com</a>
              </button>
              
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>